/* Starter CSS 

/* Neutralize styling: 
   Elements we want to clean out entirely: */
html, body, form, fieldset {
        margin: 0;
        padding: 0;
        font: normal 12px/15px Arial, Helvetica,Tahoma, Verdana,  sans-serif;
}

/* Neutralize styling: 
   Elements with a vertical margin: */
h1, h2, h3, h4, h5, h6, p, pre,
blockquote, ul, ol, dl, address {
        margin: 1em 0;
        padding: 0;
}

/* Apply left margin:
   Only to the few elements that need it: */
li, dd, blockquote {
        margin-left: 1em;
}

/* Miscellaneous: */
form label {
        cursor: pointer;
}
fieldset {
        border: none;
}
input, select, textarea {
        font-size: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
}
img  {text-decoration: none; border: 0;
}

/* page container - full screen */
#pagecontainer {
	padding : 0 0;
	margin : 0 0;
	background-color: #ffffff;
	vertical-align :top;
	text-align: center;
	border-width : 1px;
	border-color : #a5a4a4;
	border-style : solid;
}
#pageheader_top {
	height : 136px;
	padding : 0px 0px 0px 0px;
	margin : 0 0 0 0;
	vertical-align :top;
	display: block;
	background-color: #ffffff;
	background-image:url(../images/AT_header_bg.gif);
	font: normal 12px/14px "Arial", "Arial", sans-serif;
	color: #ffffff;
	background-repeat: repeat-x;
        width: 1055px;
        float: left;
}
#pageheader_logo {
	margin: 0px 0px;
	padding : 0px 0px;
	width : 243px;
	height: 81px;
	float: left;
}
#pageheader_global {
	padding : 0 0;
	margin : 0 0;
	width: 800px;
	height: 81px;
		float: left;
		
}
#pageheader_global p {
	padding : 0 0;
	margin : 0 0;
	position:relative;
	top:0.5em;
	text-align:right; 
}

#pageheader_top a {
	text-decoration: none;
	color: #000000;
}
#pageheader_top a:hover {
color: #333333;
}


#pageheader_logo img {
	float: left;
}

#pageheader_nav {
	margin: 5px 0px 0px 0px;
	padding : 0px 0px;
	width : 800px;
	height : 50px;
	float: left;
	text-align:left;
	clear: both;
}
#pageheader_nav ul {
	margin: 0px 0px 0px 10px;
	padding: auto 0;
}
#pageheader_nav li {
	margin:  0px 30px 0px 0px;
	padding: auto 0;
	font-weight: normal;
	line-height: 50px;
	display:inline;
}

.down_li {margin:  0px 0px 0px 5px;}


#pageheader_nav a {
	font-size:18px;
	color: #ffffff;
}
#pageheader_nav a:hover {
	color: #e7c5b0;
}

#pageheader_search {
	margin: 5px 0px 0px 0px;
	padding : px 0px 0px 0px;
	width : 250px;
	height : 50px;
	text-align:right;
		float: left;
}
#pageheader_search .search_text {
	color:#999999; width:150px;
}
#pageheader_search .search_button {
	padding : 0px 0px 0px 0px;
}


#page_body {
	margin: 5px 0px 0px 0px;
	padding : 0px 0px;
	width : 1055px;
	float: left;
	clear: both;
	vertical-align :top;
}
#page_body h1{
	font: normal 22px/24px "Gill Sans", "Trebuchet MS", sans-serif;
	color : Black;
	margin: .5em auto;
	padding : 0px ;
}

#page_body h2{
	font: normal 16px/20px "Gill Sans", "Trebuchet MS", sans-serif;
	color : Black;
	padding : 0px;
}
 #page_body p{
	font: normal 13px/16px "Gill Sans", "Trebuchet MS", sans-serif;
	color : Black;
	padding : 0px 0px 0px 0px;
	margin : .8em 0px 1em 0px;
}
 #page_body a {
	text-decoration: none;
}
 #page_body a:hover {
	text-decoration: underline;
}
 #page_body em {
	color : #cc6633;
	font : normal 13px/15px "Gill Sans", "Trebuchet MS", sans-serif;
}
 #page_body ul {
	margin: .5em 1em;
}
 #page_body li {
	color :#4C4C4C;
	font : normal 13px/15px "Gill Sans", "Trebuchet MS", sans-serif;
	margin: .5em 1em;
}
#body_left {
	margin: 0px 5px 0px 5px;
	padding : 0px 0px 0px 0px;
	width : 200px;
	float: left;
	text-align : left;
	height : auto;
}
#body_center {
	margin: 0px 5px 0px 5px;
	padding : 0px 0px 0px 0px;
	width : 580px;
	text-align : left;
	float: left;
	vertical-align: top;
}
#body_right {
	margin: 0px 0px 0px 5px;
	padding : 0px 0px 0px 0px;
	width : 250px;
	text-align : left;
	float: right;
	vertical-align: top;
}
#body_footer {
	padding : 1px 10px;
	clear: both;
	text-align : left;
}


#mainnav {
float: left;
width: 200px;
margin: 5px 0px 0px 0px;
padding: 0px 0px 0px 0px;
	text-align : left;
	
}

#mainnav ul {
padding-bottom: 50px;
margin: 0px 0px 0px 0px;
padding: 0px 0px 0px 0px;
}

#mainnav li {
margin: 0px 0px 0px 0px;
padding: 0px 0px 5px 0px;
display: block;
font-size: 16px;
}

#mainnav li a {
display: block;
line-height: 1em;
padding: 0 0 0 0px;
color: #0071bb;

}

#login_form {
margin: 10px 5px 10px 0px;
	padding : 5px 5px 5px 5px;
	width : 190px;
	float: left;
	text-align : left;
	height : auto;
	background-color: #eef6fc;
	border-width : 1px;
	border-color : #d6d6d6;
	border-style : solid;
}

.field_block{
font-size: 12px; color : #969696; margin-right: 20px; width: 150px; }
.field_block input{
width: 150px; }
.login_button {padding : 10px 7px 5px 5px; text-align : right;}

#login_help a{
font-size: 12px; color : #53a4db; }

#abilitytips_leftcol {
	margin: 15px 0px 10px 0px;
	padding : 0px 0px;
	width : 200px;
	height : auto;
}
#abilitytips_leftcol h3, #abilitytips_leftcol h2{
margin: 2px 0px;
	padding : 0px 0px;
	font-size: 14px;
	font-weight:bold;
}
#abilitytips_leftcol p{
margin: 2px 0px;
	padding : 0px 0px;
	font-size: 12px;
}
#abilitytips_leftcol_title{
	background-image: url(../images/AT_tips_leftcol.gif);
	background-repeat: no-repeat;
	text-indent: -999em;  
	background-color: transparent;
	font : normal 13px/15px;
}
#blue_block{
padding : 0 0;
	margin : 0 0;
	border-width : 1px;
	border-color : #35b0e9;
	border-style : solid;
	border-bottom-color : #ed823e;
}
#blue_block .pagetitle_img{
padding : 0 0;
	margin : 5px 0px 0px 10px;
}
h1.welcome {
	background-image: url(../images/AT_Welcome_title.gif);
	background-repeat: no-repeat;
	text-indent: -999em;  
	background-color: transparent;
}
#blue_block p{
padding : 0 0;
	margin : 5px 0px 5px 10px;
}
#blue_block p.learn_more{
text-align : right;
margin : 5px 5px 0px 5px;
}
#blue_block p.learn_more a{
color:#ed823e;
}
#blue_block img.blue_block_bottom_img{
 margin: 10px 0px 0px 0px;
	 padding: 0 0;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #ed823e;
	vertical-align:bottom;
}

#body_center h2, #blog_style h2{
margin: 10px 0px 5px 0px;
	padding : 0px 0px 0px 25px;
	background-image: url(../images/AT-Heading_Check.gif);
	background-repeat: no-repeat;
	background-color: transparent;
	background-position:left center;
	font: normal 22px/25px Arial, Helvetica,Tahoma, Verdana,  sans-serif;
	color: #ed823e;
}
#body_center p{
	font: normal 14px/18px Arial, Helvetica,Tahoma, Verdana,  sans-serif;
}
#blog_style{
padding : 0 0;
	margin : 0 0;
}
#blog_style h3{
padding : 0 0;
	margin : 0 0;
	font: bold 17px/20px Arial, Helvetica,Tahoma, Verdana,  sans-serif;
	color: #0071bb;
}
#blog_style h3 a{
color: #0071bb;
text-decoration: none
}
#blog_style h3 a:hover{
color: #53a4db;
text-decoration: underline;
}

#blog_style p.error {
font-weight: bold;
color: #c00;
}

	
#blog_style .post_info{
margin: 0px 5px 0px 0px;
	padding : 0px 0px 0px 0px;
	width :580px;
	float: left;
	text-align : left;
	height : auto;
	clear: right;
	font: normal 13px/17px Arial, Helvetica,Tahoma, Verdana,  sans-serif;
	color: #ed823e;
}
#blog_style .owner {
	width : 250px;
	text-align : left;
	float: left;
}
#blog_style .post_date{
	width : 150px;
	text-align : left;
	float: right;
}
#blog_style p{
padding : 5px 0;
	margin :0px 0px;
}	
#blog_style p.read_more{
text-align : right;
margin : 0px 5px 0px 5px;
}
#blog_style p.read_more a{
color:#33b0ea;
}
.blue_block_right{
padding : 5px 10px;
	margin : 10px 0;
	width: 228px;
	border-width : 1px;
	border-color : #35b0e9;
	border-style : solid;
}

.blue_txt{color:#0071bb;}
.orange_txt{color : #ed823e;}

#body_right h2{
padding : 0 0;
	margin : 0 0;
	font-size: 17px;
	color: #ed823e;
}

#body_right ol{
padding : 0px 0px 0px 0px;
	margin : 5px 0px 0px 20px;
	color: #0071bb;
}

#body_right li{
padding : 0px 0px 3px 0px;
	margin : 0px 0px 0px 10px;
	color: #0071bb;
	font-size: 14px;
}
#body_right li a{
    color: #0071bb;
}


#page_footer {
	height : 7px;
	padding : 0px 0px 0px 0px;
	margin : 10px 0px 5px 0px;
	background-image:url(../images/AT-footer_lines.gif);
	clear:left;
	background-repeat: repeat-x;
}
#page_footer_content {
	padding : 0px 0px 0px 0px;
	margin : 10px 0px 5px 0px;
	width: 870px;
	text-align:center;
	float: left;

}
#page_footer_content p {
	padding : 0px 0px 0px 0px;
	margin : 0px 0px 0px 0px;
	text-align:center;
	font-size: 13px;
	color: #ed823e
}

#page_footer_content a {
	text-decoration: underline;
	color: #ed823e;
}
#page_footer_content a:hover {
color: #0071bb;
}

#clear_footer {
	padding : 1px 10px;
	clear: both;
	text-align : left;
}


/* ie6 hacks */
*html #page_body {
	width : 915px;	
}
*html #pageheader_nav ul {
	margin: 10px 0px 0px 10px;
}

#pagefooter {
	height : auto;
	padding : 5px 0 20px 0;
	margin : 0px 0 20px 0;
	clear: both;
}

#pagefooter p {
	font-size: 11px;
		color: #ff6600;
}
#pagefooter a {
	color: #ff6600;
	text-decoration: underline;
}

.row:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.row,
.clearfix {display: inline-block;}

/* Hides from IE-mac \*/
* html .row,
* html .clearfix {height: 1%;}
.row,
.clearfix {display: block;}
/* End hide from IE-mac */
