@charset "utf-8";
/* CSS Document */

#mpcontent{
	width:560px;
}
#mpcontent ul{
margin-top:-12px;	
}
#mpcontent ul li{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:18px;
}
.head1{
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	color:#ef8239;
	margin-top:30px;
	margin-bottom:15px;
	letter-spacing:.5px;
}
.head2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#ef8239;
	margin-top:30px;
	margin-bottom:15px;		
}
.mcontent{
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	margin-top:15px;
	line-height:18px;
}
.bold{
font-weight:bold;	
}
.cblock{
	height:282px;
	margin-left:50px;
	float:left;
}
.cblock p{
margin-bottom:30px;
}
.cblock p.head2{
margin-top:67px;	
}
.cblock a{
color:#ef8239;
}